<ul class="Polaris-Navigation__Section">
    <!-- FormBuilder -->
    <li class="Polaris-Navigation__ListItem">
        <div class="Polaris-Navigation__ItemWrapper">
            <a class="Polaris-Navigation__Item" tabindex="0" href="get_form" data-polaris-unstyled="true">
                <div class="Polaris-Navigation__Icon">
                    <span class="Polaris-Icon">
                        <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18 7.261V17.5c0 .841-.672 1.5-1.5 1.5h-2c-.828 0-1.5-.659-1.5-1.5V13H7v4.477C7 18.318 6.328 19 5.5 19h-2c-.828 0-1.5-.682-1.5-1.523V7.261a1.5 1.5 0 01.615-1.21l6.59-4.82a1.481 1.481 0 011.59 0l6.59 4.82A1.5 1.5 0 0118 7.26z" fill="#5C5F62"/></svg>
                    </span>
                </div>
                <span class="Polaris-Navigation__Text">Form Builder</span>
            </a>
        </div>
    </li>
    <!-- Show Form -->
    <li class="Polaris-Navigation__ListItem">
      <div class="Polaris-Navigation__ItemWrapper">
          <a class="Polaris-Navigation__Item" tabindex="0" href="form_show" data-polaris-unstyled="true">
              <div class="Polaris-Navigation__Icon">
                  <span class="Polaris-Icon">
                      <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18 7.261V17.5c0 .841-.672 1.5-1.5 1.5h-2c-.828 0-1.5-.659-1.5-1.5V13H7v4.477C7 18.318 6.328 19 5.5 19h-2c-.828 0-1.5-.682-1.5-1.523V7.261a1.5 1.5 0 01.615-1.21l6.59-4.82a1.481 1.481 0 011.59 0l6.59 4.82A1.5 1.5 0 0118 7.26z" fill="#5C5F62"/></svg>
                  </span>
              </div>
              <span class="Polaris-Navigation__Text">show form</span>
          </a>
      </div>
    </li>
    <!-- Contact us Form -->
    <li class="Polaris-Navigation__ListItem">
      <div class="Polaris-Navigation__ItemWrapper">
          <a class="Polaris-Navigation__Item" tabindex="0"  data-polaris-unstyled="true">
              <div class="Polaris-Navigation__Icon">
                  <span class="Polaris-Icon">
                      <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18 7.261V17.5c0 .841-.672 1.5-1.5 1.5h-2c-.828 0-1.5-.659-1.5-1.5V13H7v4.477C7 18.318 6.328 19 5.5 19h-2c-.828 0-1.5-.682-1.5-1.523V7.261a1.5 1.5 0 01.615-1.21l6.59-4.82a1.481 1.481 0 011.59 0l6.59 4.82A1.5 1.5 0 0118 7.26z" fill="#5C5F62"/></svg>
                  </span>
              </div>
              <span class="Polaris-Navigation__Text">Contact us</span>
          </a>
      </div>
    </li>
    <!-- About us Form -->
    <li class="Polaris-Navigation__ListItem">
      <div class="Polaris-Navigation__ItemWrapper">
          <a class="Polaris-Navigation__Item" tabindex="0" data-polaris-unstyled="true">
              <div class="Polaris-Navigation__Icon">
                  <span class="Polaris-Icon">
                      <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18 7.261V17.5c0 .841-.672 1.5-1.5 1.5h-2c-.828 0-1.5-.659-1.5-1.5V13H7v4.477C7 18.318 6.328 19 5.5 19h-2c-.828 0-1.5-.682-1.5-1.523V7.261a1.5 1.5 0 01.615-1.21l6.59-4.82a1.481 1.481 0 011.59 0l6.59 4.82A1.5 1.5 0 0118 7.26z" fill="#5C5F62"/></svg>
                  </span>
              </div>
              <span class="Polaris-Navigation__Text">About us</span>
          </a>
      </div>
    </li>
    <!-- Privacy policy Form -->
    <li class="Polaris-Navigation__ListItem">
      <div class="Polaris-Navigation__ItemWrapper">
          <a class="Polaris-Navigation__Item" tabindex="0" data-polaris-unstyled="true">
              <div class="Polaris-Navigation__Icon">
                  <span class="Polaris-Icon">
                      <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18 7.261V17.5c0 .841-.672 1.5-1.5 1.5h-2c-.828 0-1.5-.659-1.5-1.5V13H7v4.477C7 18.318 6.328 19 5.5 19h-2c-.828 0-1.5-.682-1.5-1.523V7.261a1.5 1.5 0 01.615-1.21l6.59-4.82a1.481 1.481 0 011.59 0l6.59 4.82A1.5 1.5 0 0118 7.26z" fill="#5C5F62"/></svg>
                  </span>
              </div>
              <span class="Polaris-Navigation__Text">Privacy policy</span>
          </a>
      </div>
    </li>
    <!-- Terms Form -->
    <li class="Polaris-Navigation__ListItem">
      <div class="Polaris-Navigation__ItemWrapper">
          <a class="Polaris-Navigation__Item" tabindex="0" data-polaris-unstyled="true">
              <div class="Polaris-Navigation__Icon">
                  <span class="Polaris-Icon">
                      <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18 7.261V17.5c0 .841-.672 1.5-1.5 1.5h-2c-.828 0-1.5-.659-1.5-1.5V13H7v4.477C7 18.318 6.328 19 5.5 19h-2c-.828 0-1.5-.682-1.5-1.523V7.261a1.5 1.5 0 01.615-1.21l6.59-4.82a1.481 1.481 0 011.59 0l6.59 4.82A1.5 1.5 0 0118 7.26z" fill="#5C5F62"/></svg>
                  </span>
              </div>
              <span class="Polaris-Navigation__Text">Terms & Conditions</span>
          </a>
      </div>
    </li>
    <!-- Installation Form -->
    <li class="Polaris-Navigation__ListItem">
      <div class="Polaris-Navigation__ItemWrapper">
          <a class="Polaris-Navigation__Item" tabindex="0" data-polaris-unstyled="true">
              <div class="Polaris-Navigation__Icon">
                  <span class="Polaris-Icon">
                      <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18 7.261V17.5c0 .841-.672 1.5-1.5 1.5h-2c-.828 0-1.5-.659-1.5-1.5V13H7v4.477C7 18.318 6.328 19 5.5 19h-2c-.828 0-1.5-.682-1.5-1.523V7.261a1.5 1.5 0 01.615-1.21l6.59-4.82a1.481 1.481 0 011.59 0l6.59 4.82A1.5 1.5 0 0118 7.26z" fill="#5C5F62"/></svg>
                  </span>
              </div>
              <span class="Polaris-Navigation__Text">Installation Guide</span>
          </a>
      </div>
    </li>
    <!-- Plan Form -->
    <li class="Polaris-Navigation__ListItem">
      <div class="Polaris-Navigation__ItemWrapper">
          <a class="Polaris-Navigation__Item" href="plans" tabindex="0" data-polaris-unstyled="true">
              <div class="Polaris-Navigation__Icon">
                  <span class="Polaris-Icon">
                      <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18 7.261V17.5c0 .841-.672 1.5-1.5 1.5h-2c-.828 0-1.5-.659-1.5-1.5V13H7v4.477C7 18.318 6.328 19 5.5 19h-2c-.828 0-1.5-.682-1.5-1.523V7.261a1.5 1.5 0 01.615-1.21l6.59-4.82a1.481 1.481 0 011.59 0l6.59 4.82A1.5 1.5 0 0118 7.26z" fill="#5C5F62"/></svg>
                  </span>
              </div>
              <span class="Polaris-Navigation__Text">Plan</span>
          </a>
      </div>
    </li>
</ul>